ignore-scripts = true # Prevent scripts from running during installation, pre- and post- scripts will not be executed.
engine-strict = true # Fail if the current Node version doesn't satisfy the engines field in package.json
audit = true # Report vulnerabilities in dependencies
min-release-age = 10080 # Prevent installing packages released in the last 7 days (10080 minutes)
